#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
}

#contenedor{
    display: flex;
    align-items: center;
    justify-content: start !important;
}

#izda{
    display: flex;
    align-items: center;
}

#titulo{
    margin-left: 0% !important;
}

#dhca{
    margin-right: 0% !important;
}

ion-toolbar{
    --background: #FEDBD0;
}

ion-tab-bar{
    --background: #FEDBD0 !important;
}

ion-tab-button{
    --background: #FEDBD0 !important;
}

ion-icon{
    color: #442C2E !important;
}

