#barra{
    display: flex;
    background-color: #ffffff;
    border-radius: 100px;
    border-width: 2px;
    align-items: center;
    margin: 10px;
    color: #7d7979;
    font-family: 'Roboto';
}

ion-icon{
    color: #7d7979;
}