<p id="titulo">Categorías</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <p id="titulo-cat">Categoría</p>
            </div>
          </ion-card>
        </ion-col>
          
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <p id="titulo-cat">Categoría</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <p id="titulo-cat">Categoría</p>
            </div>
          </ion-card>
        </ion-col>
    
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <p id="titulo-cat">Categoría</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <p id="titulo-cat">Categoría</p>
            </div>
          </ion-card>
        </ion-col>
    
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <p id="titulo-cat">Categoría</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>

