ion-card{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px !important;
    border-color: #442C2E;
    border-width: 10px !important;
    background-color: #FEDBD0;
    color: #442C2E;
    font-family: 'Roboto';
}

ion-grid {
    margin-top: 0px;
}

#titulo{
    font-size: 1.5em;
    font-weight: bold;
    color: #442C2E;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-top: 0px;
    font-family: 'Roboto';
}

#content-card{
    display: flex;
    justify-content: space-around;
}


#titulo-cat {
    font-weight: bold;
    font-size: 16px;
}