<p id="titulo">Visto recientemente</p>

<ion-slides>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
              <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
          
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
    
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
          
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
    
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
          
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
    
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div id="content-card">
              <div>
              <p>Producto</p>
              </div>
              <div>
                <p id="precio">XX,XX€</p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>

